/* Reference: https://stackoverflow.com/questions/40769551/how-to-use-google-fonts-in-react-js#47733243 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
/* https://fonts.googleapis.com/css?family=Josefin+Sans */
body {
  background-color: #282c34;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.absolute-full {
  /* background-color: hsl(160, 100%, 75%, 10%); */
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.animateColorChange {
  -webkit-transition: background-color 0.25s easeint;
  -moz-transition: background-color 0.25s ease-in;
  -o-transition: background-color 0.25s ease-in;

  -webkit-transition: border-color 0.25s easeint;
  -moz-transition: border-color 0.25s ease-in;
  -o-transition: border-color 0.25s ease-in;

  -webkit-transition: opacity 0.25s easeint;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: border-color 0.15s ease-in, background-color 0.25s ease-in,
    opacity 1s ease-in;
}
